Content/TestProject/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/TestProject/**/*.umap filter=lfs diff=lfs merge=lfs -text

# Lockable files
# txt lockable
# .png lockable
# .png filter=lfs diff=lfs merge=lfs -text lockable
# *.txt filter=lfs diff=lfs merge=lfs -text lockable
# *.uasset filter=lfs diff=lfs merge=lfs -text lockable
# *.umap filter=lfs diff=lfs merge=lfs -text lockable
# *.h filter=lfs diff=lfs merge=lfs -text lockable
# *.cpp filter=lfs diff=lfs merge=lfs -text lockable
# Content/* filter=lfs diff=lfs merge=lfs -text lockable
