Content/TestProject/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/TestProject/**/*.umap filter=lfs diff=lfs merge=lfs -text
.txt lockable
.png lockable
*.uasset filter=lfs diff=lfs merge=lfs -text lockable
*.umap filter=lfs diff=lfs merge=lfs -text lockable
*.h filter=lfs diff=lfs merge=lfs -text lockable
*.cpp filter=lfs diff=lfs merge=lfs -text lockable
Content/* filter=lfs diff=lfs merge=lfs -text lockable
